<div class="row contenedor_perfil">
    <div class="col-12">
        ID: <strong> {{ perfilUsuario?.id }} </strong> 
    </div>
    <div class="col-12">
        NOMBRE: <strong> {{ perfilUsuario?.nombre }} </strong> 
    </div>
    <div class="col-12">
        DESCRIPCION: <strong> {{ perfilUsuario?.descripcion }} </strong> 
    </div>
    <div class="col-12">
        EMPRESA: <strong> {{ perfilUsuario?.empresa?.nombre }} </strong> 
    </div>
    <div class="col-12">
        ESTADO: <strong> {{ perfilUsuario?.estado?.descripcion }} </strong> 
    </div>
</div>